<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button margin-right-menu" ng-click="vm.toggleSidenav('navigation')"
                   aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

        <div class="toolbar-separator"></div>

        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">

        <div class="toolbar-separator"></div>

        <!--<md-menu id="language-menu" md-offset="0 72" md-position-mode="target-right target">
            <md-button class="language-button" ng-click="$mdOpenMenu()"
                       aria-label="Language" md-menu-origin md-menu-align-target>
                <div layout="row" layout-align="center center">
                    <img class="flag" ng-src="assets/images/flags/{{vm.selectedLanguage.flag}}.png">
                    <span class="iso">{{vm.selectedLanguage.code}}</span>
                </div>
            </md-button>

            <md-menu-content width="3" id="language-menu-content">
                <md-menu-item ng-repeat="lang in vm.languages">
                    <md-button ng-click="vm.changeLanguage(lang)" aria-label="{{lang.title}}" translate
                               translate-attr-aria-label="{{lang.title}}">
                        <span layout="row" layout-align="start center">
                            <img class="flag" ng-src="assets/images/flags/{{lang.flag}}.png">
                            <span translate="{{lang.translation}}">{{lang.title}}</span>
                        </span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>-->

        <div class="toolbar-separator"></div>
        
       <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        
                        <span class="username" hide-xs>Perfil</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">

                    <md-menu-item class="md-indent" ng-show="vm.labels.admin">
                        <md-menu ng-if="vm.profiles.admins.length > 1">
                            <md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class">Administrador</md-button>
                            <md-menu-content width="2">
                                <md-menu-item class="status md-indent" ng-repeat="admin in vm.profiles.admins">
                                    <md-button ng-class="{'md-primary md-raised': admin.active}"  ng-click="vm.changeProfile(admin)">
                                        {{admin.name}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button ng-if="vm.profiles.admins.length <= 1" ng-class="{'md-primary md-raised': vm.profiles.admins[0].active}" ng-click="vm.changeProfile(vm.profiles.admins[0])">
                            {{vm.profiles.admins[0].name}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item class="md-indent" ng-show="vm.labels.client">
                        <md-menu>
                            <md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class">Cliente</md-button>
                            <md-menu-content width="2">
                                <md-menu-item class="status md-indent" ng-repeat="client in vm.profiles.clients">
                                    <md-button ng-class="{'md-primary md-raised': client.active}"  ng-click="vm.changeProfile(client)">
                                        {{client.name}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>

                    <md-menu-item class="md-indent" ng-show="vm.labels.candidate">
                        <md-menu ng-if="vm.profiles.candidates.length > 1">
                            <md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class">Candidato</md-button>
                            <md-menu-content width="2">
                                <md-menu-item class="status md-indent" ng-repeat="candidate in vm.profiles.candidates">
                                    <md-button ng-class="{'md-primary md-raised': candidate.active}"  ng-click="vm.changeProfile(candidate)">
                                        {{candidate.name}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button ng-if="vm.profiles.candidates.length <= 1" ng-class="{'md-primary md-raised': vm.profiles.candidates[0].active}" ng-click="vm.changeProfile(vm.profiles.candidates[0])">
                            {{vm.profiles.candidates[0].name}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item class="md-indent" ng-show="vm.labels.psychologist">
                        <md-menu ng-if="vm.profiles.psychologists.length > 1">
                            <md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class">Candidato</md-button>
                            <md-menu-content width="2">
                                <md-menu-item class="status md-indent" ng-repeat="psychologist in vm.psychologists.candidates">
                                    <md-button ng-class="{'md-primary md-raised': psychologist.active}"  ng-click="vm.changeProfile(psychologist)">
                                        {{psychologist.name}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button ng-if="vm.profiles.psychologists.length <= 1" ng-class="{'md-primary md-raised': vm.profiles.psychologists[0].active}" ng-click="vm.changeProfile(vm.profiles.psychologists[0])">
                            {{vm.profiles.psychologists[0].name}}
                        </md-button>
                    </md-menu-item>

                    <!-- <md-menu-divider></md-menu-divider> -->
                </md-menu-content>
            </md-menu>
        </md-menu-bar>

        <div class="toolbar-separator"></div>

        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="{{vm.currentUser.filename}}">
                            <!-- <md-icon md-font-icon ng-class="vm.userStatus.icon"
                                     ng-style="{'color': vm.userStatus.color }"
                                     class="icon status s16">
                            </md-icon>-->
                        </div>
                        <span class="username" hide-xs>{{vm.currentUser.name}}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item class="md-indent" ui-sref="app.user_profile">
                        <md-icon md-font-icon="icon-account" class="icon"></md-icon>
                        <md-button>Meu Perfil</md-button>
                    </md-menu-item>

                    <!-- <md-menu-item class="md-indent" ui-sref="app.mail">
                        <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                        <md-button>Inbox</md-button>
                    </md-menu-item>

                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon ng-class="vm.userStatus.icon"
                                 ng-style="{'color': vm.userStatus.color }" class="icon"></md-icon>
                        <md-menu id="user-status-menu">
                            <md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class">
                                {{vm.userStatus.title}}
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item class="status md-indent"
                                              ng-class="{'selected': status === vm.userStatus}"
                                              ng-repeat="status in vm.userStatusOptions">
                                    <md-icon md-font-icon="{{status.icon}}" ng-style="{'color': status.color }"
                                             class="icon"></md-icon>
                                    <md-button ng-click="vm.setUserStatus(status)">
                                        {{status.title}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item> -->

                    <md-menu-divider></md-menu-divider>

                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Sair</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</div>