/* General */
body,
html {
    background : #E7E7E7;
}

body {
    overflow-y : scroll;
}

main {
    padding-left  : 285px;
    padding-right : 45px;
    margin-top    : 40px;
}

.breadcrumb-container {
    padding : 15px;
}

[class^="mdi-"],
[class*=" mdi-"],
.material-icons {
    font-size : 20px;
}

a i {
    cursor : pointer;
}

.action-btn-margin {
    margin-top : 50px;
}

.collection {
    border        : none;
    margin-bottom : 0;
    margin-top    : 0;
}

.fixed-action-btn {
    bottom : 45px;
    right  : 24px;
}

/* Progress */
.progress {
    display : none;
}

/* Nav */
.logo {
    text-align    : center;
    margin-top    : 0;
    border-bottom : 1px solid #DDDDDD;
    color         : #2D2D2D;
    width         : 100%;
}

.logo > a {
    color     : rgba(33, 150, 243, 0.8) !important;
    font-size : x-large;
}

nav a.button-collapse {
    padding-left  : 15px;
    padding-right : 15px;
    float         : right;
}

nav ul a {
    height : 64px;
}

ul.side-nav li {
    padding : 0;
}

ul.side-nav.fixed a {
    padding : 0 30px;
}

.pagination li {
    padding-top : 2px;
}

.pagination li.active a {
    color : #2196F3 !important;
}

.pagination li.active {
    background-color : #FFFFFF !important;
    border           : 1px solid #2196F3;
    padding-top      : 1px;
}

.grid-panel {
    padding : 0 0 16px 0 !important;
}

/* Grid */
.mvc-grid-input {
    height        : initial !important;
    margin        : 0 !important;
    box-sizing    : border-box !important;
    border-radius : 2px !important;
}

.popup-button-group button {
    padding : 0 2rem !important;
}

.popup-group select {
    height           : initial !important;
    background-color : #FFFFFF;
}

thead {
    border-color : #E0E0E0;
}

thead th:last-child {
    width : 170px;
}

.table-no-actions thead th:last-child {
    width : initial;
}

.picker thead th:last-child {
    width : initial;
}

tbody td:last-child a {
    margin-left : 8px;
    color       : #343434;
}

tbody td:last-child a:first-child {
    margin-left : 0;
}

table.hoverable:hover {
    box-shadow : initial !important;
}

.hiden {
    display : none;
}

.mvc-grid-input:focus {
    box-shadow          : none !important;
    border-bottom-color : #CCCCCC !important;
}

.mvc-grid-row td {
    transition : color .2s ease;
}

.mvc-grid-row.selected {
    color      : #2196F3;
    transition : color .2s ease;
}

.mvc-grid-pager li {
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

tbody td:last-child {
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

.material-icons {
    line-height : inherit;
}

/* Modal */
.delete-modal .row {
    margin-bottom : 0px !important;
}

.delete-modal h5 {
    margin     : 0 !important;
    margin-top : 4px !important;
}

.delete-modal .modal-content {
    padding-top    : 17px;
    padding-bottom : 14px;
}

/* Table */
table.hoverable tbody tr:hover {
    background-color : rgba(226, 226, 226, 1) !important;
}

td,
th {
    border-radius : 0 !important;
}

tbody tr {
    height : 62px;
}

table.dataTable thead th {
    border-color   : #E0E0E0 !important;
    padding-top    : 15px;
    padding-bottom : 15px;
}

table.dataTable {
    border-color : #E0E0E0 !important;
}

.dataTables_info {
    padding-left : 37px !important;
    padding-top  : 23px !important;
}

.dataTables_paginate {
    padding-right : 37px !important;
    padding-top   : 15px !important;
}

.picker tbody tr {
    height : initial;
}

.table-action-disabled i {
    color : #D7D7D7;
}

table.dataTable {
    width : 100% !important;
}

.dataTables_processing {
    height           : 80px !important;
    padding-top      : 29px !important;
    font-size        : 18px !important;
    margin-top       : -50px !important;
    width            : 400px !important;
    margin-left      : -200px !important;
    z-index          : 99 !important;
    box-shadow       : 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    border-radius    : 2px !important;
    background-color : #FFFFFF !important;
}

.dataTables_filter {
    float      : left !important;
    text-align : left !important;
}

.paginate_button {
    border        : none !important;
    outline       : none !important;
    border-radius : 2px !important;
}

.paginate_button.current {
    background : #DEDEDE !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background : #D2D2D2 !important;
    color      : rgb(51, 51, 51) !important;
    box-shadow : none !important;
}

/* Input */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field textarea:focus + label {
    color : #2196F3 !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus {
    border-bottom : 1px solid #2196F3 !important;
    box-shadow    : 0 1px 0 0 #2196F3 !important;
}

.input-field .prefix.active {
    color : #2196F3 !important;
}

input[type=text]:disabled,
textarea.materialize-textarea:disabled {
    color : inherit;
}

.form-container {
    margin-top : 20px;
}

button:focus {
    background-color : rgba(171, 171, 171, 0.1);
}

button.waves-effect .waves-ripple {
    background-color : rgba(170, 170, 170, 0.3);
}

.select-wrapper li span {
    color : #42A5F5 !important;
}

#send-button {
    z-index : 0 !important;
}

/* DatePicker */
.picker__weekday-display {
    background-color : #2196F3;
}

.picker__date-display {
    background-color : #42A5F5;
}

.picker__day.picker__day--today {
    color : #42A5F5;
}

.picker__day--selected {
    background-color : #42A5F5 !important;
}

.picker__close,
.picker__today {
    color : #42A5F5;
}

/* MQ */
@media only screen and (max-width : 992px) {
    main {
        padding-left : 45px;
    }

    table.responsive-table tbody tr {
        height : initial;
    }
}